/* colors
   light-green: #7ed56f;
   Medium-green: #55c57a;
   Dark-green: #28b485;

*/
@import "base/animation.scss";
@import "base/base.scss";
@import "base/topography.scss";
@import "base/utilities.scss";



@import "page/header.scss";
@import "page/home.scss";

@import "abstract/mixin.scss";
@import "abstract/variables.scss";
@import "abstract/function.scss";

@import "layout/grid.scss";
@import "layout/footer.scss";
@import "layout/navigation.scss";

@import "component/composition.scss";
@import "component/feature-box.scss";
@import "component/card.scss";
@import "component/story.scss";
@import "component/bg-video.scss";
@import "component/form.scss";
@import "component/popup.scss";


 












