.u-margin-big {margin-bottom: 8rem;}
.u-margin-small {margin-bottom: 2rem;}
.u-margin-medium {margin-bottom: 4rem;}

.u-margin-tb {margin-top: 8rem;}
.u-margin-ts {margin-top: 3rem;}

.u-center {text-align: center;}



